<header>
    <nav class="nav">
        <h1 class="navTitle">INICIO</h1>
        <ul class="navList">
            <li><a href="/products">Productos</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/profile">Perfil</a></li>
        </ul>
        <ul class="navAuth">
            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
    </nav>
</header>
<h2>Info</h2>

<ul>
    {{#each data}}
    <li><strong>{{this.titulo}}:</strong> {{this.descripcion}}</li>
    {{/each}}
</ul>

<a href="/"><button>Volver</button></a>